In [16]:
import pandas as pd
from fuzzywuzzy import process, fuzz

In [17]:
df = pd.read_json('diversityorgs.tech.json').fillna('')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 17 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   name                                     494 non-null    object
 1   url                                      494 non-null    object
 2   links                                    494 non-null    object
 3   technology_focus                         494 non-null    object
 4   organization_logo                        494 non-null    object
 5   id                                       494 non-null    object
 6   diversity_focus                          494 non-null    object
 7   city                                     494 non-null    object
 8   parent_organization                      494 non-null    object
 9   global_org_url_from_parent_organization  494 non-null    object
 10  twitter                                  494 non-null    object
 11  github                                   494 non-null    object
 12  website                                  494 non-null    object
 13  meetup                                   494 non-null    object
 14  region                                   494 non-null    object
 15  notes                                    494 non-null    object
 16  donate                                   494 non-null    object
dtypes: object(17)
memory usage: 65.7+ KB

In [19]:
for col in df[['name','city']]:
    df[col] = df[col].str.strip()
    print('Number of unique values in ' + str(col) +': ' + str(df[col].nunique()))

Number of unique values in name: 494
Number of unique values in city: 367

In [20]:
unique_city = df['city'].unique().tolist()
sorted(unique_city, key=lambda x:str(x))

['',
 'Accra, Ghana',
 'Amsterdam, Netherlands',
 'Ankara, Turkey',
 'Antananarivo, MDG',
 'Aracati, Brazil',
 'Arequipa, Peru',
 'Arizona, US',
 'Arlignton, VA',
 'Asaba, Nigeria',
 'Athlone, Ireland',
 'Atlanta',
 'Atlanta, GA',
 'Atlanta, Georgia',
 'Atlanta, USA',
 'Austin',
 'Austin, TX',
 'Austin, Texas',
 'Austin, USA',
 'Australia',
 'Baltimore, Maryland',
 'Bangalore, India',
 'Barcelona, BCN',
 'Barcelona, Spain',
 'Bauchi, NG',
 'Beijing, China',
 'Belem, Brazil',
 'Belfast, Northern Ireland',
 'Belfast, United Kingdom',
 'Belo Horizonte, Brazil',
 'Berlin, Germany',
 'Bhubaneswar, India',
 'Birmingham',
 'Birmingham, USA',
 'Birmingham, United Kingdom',
 'Blockchain, Global',
 'Blumenau, Brazil',
 'Bogota, Colombia',
 'Boston',
 'Boston, MA',
 'Boston, Massachusetts',
 'Boston, USA',
 'Boulder, CO',
 'Boulder, USA',
 'Boulder/Denver, USA',
 'Bratislava, Slovakia',
 'Brazil',
 'Brisbane, Australia',
 'Bristol, United Kingdom',
 'Brno, Czech Republic',
 'Bucharest, Romania',
 'Bucks County, Pennsylvania',
 'Buenos Aires, Argentina',
 'Buffalo -Rochester',
 'CDMX, México',
 'Cairo, Egypt',
 'California, US',
 'Cambridge, Massachusett',
 'Campinas, Brazil',
 'Canakkale, Turkey',
 'Cape Town, Johannesburg',
 'Caxias do Sul, Brazil',
 'Charleston, SC',
 'Charlotte',
 'Charlotte, United States',
 'Chattanooga, Tennessee',
 'Chennai , India',
 'Chennai, India',
 'Chicago',
 'Chicago, IL',
 'Chicago, Illinoise',
 'Chicago, USA',
 'Cincinnati',
 'Cincinnati, United States',
 'Cleveland',
 'Cleveland, OH',
 'Cleveland, USA',
 'Cloud, Global',
 'Colima, Mexico',
 'Colorado, US',
 'Columbia, Sc',
 'Columbia, South Carolina',
 'Columbus',
 'Copenhagen, Denmark',
 'Costa Rica, Costa Rica',
 'Curitiba, Brazil',
 'DF - Distrito Federal, Brazil',
 'Dallas',
 'Dallas, TX',
 'Dallas, Texas',
 'Dallas/ Ft. Worth, US',
 'Data Science, Global',
 'Delhi, India',
 'Denver',
 'Denver, CO',
 'Denver, Colorado',
 'Detroit',
 'Detroit, Michigan',
 'Doboj, BiH',
 'Dover, Delaware',
 'Dublin, Ireland',
 'Duque de Caxias, RJ',
 'Edinburgh, Scotland',
 'Edinburgh, United Kingdom',
 'El Alto, Bolivia',
 'Ethiopia, Addis Ababa',
 'Florida, US',
 'Fort Collins, USA',
 'Front End, Global',
 'Georgetown, Demerara-Mahaica',
 'Georgia, US',
 'Ghana',
 'Gibraltar, British Territory',
 'Global (Online)',
 'Grand Rapids, MI',
 'Greater China',
 'Greensboro, North Carolina',
 'Greenville , USA',
 'Guatemala City, Guatemala',
 'Guatemala city, Guatemala',
 'Guayaquil, Guayas',
 'Gujarat, India',
 'Hamburg',
 'Hamburg, Germany',
 'Hamilton, British Territory',
 'Hampton Roads',
 'Harare, Zimbabwe',
 'Hartford, Connecticut',
 'Hawaii, US',
 'Helsinki, Finland',
 'Hermosillo, México',
 'Ho Chi Minh, Vietnam',
 'Houston',
 'Houston, TX',
 'Houston, Texas',
 'Houston, USA',
 'Huntsville, USA',
 'Hyderabad, India',
 'Hyderabad, Telangana',
 'Ibadan',
 'Illinois, US',
 'Imo, Nigeria',
 'India',
 'Indianapolis',
 'Indianapolis, Indiana',
 'Indianapolis, United States',
 'Jackson',
 'Jacksonville',
 'Jakarta, Indonesia',
 'Jos, plateau',
 'Kampala, Uganda',
 'Kazan, Russia',
 'Kingston, Jamaica',
 'Knoxville, Tennessee',
 'Kosice, Slovakia',
 'Kuala Lumpur, Malaysia',
 'Kyiv, Ukraine',
 'Kyoto',
 'La Paz, Bolivia',
 'La Paz, Pedro Domingo Murrillo',
 'Lagos',
 'Lagos, Nigeria',
 'Lahore, Pakistan',
 'Las Vegas',
 'Lima, Peru',
 'Lisbon, Portugal',
 'Ljubljana, Slovenia',
 'London',
 'London, England',
 'London, UK',
 'London, United Kingdom',
 'Los Angeles',
 'Los Angeles, CA',
 'Los Angeles, California',
 'Los Angeles, USA',
 'Louisville',
 'Macau, Macao',
 'Maceio, Brazil',
 'Madrid, Catalonia, Andalusia',
 'Madrid, Spain',
 'Manaus, Brazil',
 'Manchester, England',
 'Manila, Philippines',
 'Massachusetts, US',
 'Mavs',
 'Medellín, Colombia',
 'Melbourne & Sydney',
 'Melbourne, Australia',
 'Memphis',
 'Memphis, Tennessee',
 'Mexico City, Mexico',
 'Miami',
 'Miami, Florida',
 'Milan, Italy',
 'Milton Keynes, England',
 'Minas Gerais,  Brasil',
 'Minneapolis',
 'Minneapolis, Minnesota',
 'Minneapolis, USA',
 'Mobile, Global',
 'Mohali',
 'Monrovia, Liberia',
 'Monterrey, Mexico',
 'Montevideo, Uruguay',
 'Montreal, Canada',
 'Montreal, Quebec, Canada',
 'Morocco',
 'Mostar, Bosnia-Hergovenia',
 'Mumbai, India',
 'Munich, Germany',
 'Mérida, México',
 'México City, Mexico',
 'México, D.F., México',
 'Nairobi',
 'Nairobi, Kenya',
 'Nashville, TN',
 'Nashville, Tennessee',
 'Natal, Brazil',
 'Nepal, South Asia',
 'New Delhi, India',
 'New Orleans',
 'New York City',
 'New York City, New York',
 'New York City, USA',
 'New York,  United States',
 'New York, NY',
 'New York, US',
 'Newark, DE',
 'Nigeria',
 'Nigeria, Africa',
 'Norfolk, Virginia',
 'North Texas - Dallas',
 'Nova Iguacu, RJ',
 'Novosibirsk, Russia',
 'Oakland / East Bay, USA',
 'Ojere, NG',
 'Okinawa, Japan',
 'Orlando, Florida',
 'Oslo, Norway',
 'Palestine, Israel',
 'Palma de Mallorca, Spain',
 'Paraiba, Brazil',
 'Paris, France',
 'Petersburg, Virginia',
 'Philadelphia',
 'Philadelphia, Pennsylvania',
 'Philadelphia, United States',
 'Phoenix',
 'Phoenix, USA',
 'Poland',
 'Portland',
 'Portland, OR',
 'Portland, Oregon',
 'Portland, USA',
 'Porto Alegre, Brazil',
 'Prague, Czech Republic',
 'Pune, India',
 'Python, Global',
 'Quito, Ecuador',
 'Raleigh, USA',
 'Raleigh-Durham',
 'Raleigh-Durham, NC',
 'Raleigh/Durham, USA',
 'Recife, Brazil',
 'Remote, Everywhere',
 'Reno/Tahoe, USA',
 'Richmond, USA',
 'Richmond, Virginia',
 'Rio De Janeiro RJ, Brazil',
 'Rio De Janeiro, Brazil',
 'Rio Grande do Sul,  Brasil',
 'Rio Grande do Sul, São Paulo',
 'Rio de Janeiro,  Brasil',
 'Rio de Janeiro, Brazil',
 'SF South Bay, USA',
 'Sacramento, California',
 'Sacramento, USA',
 'Saint Petersburg, Russia',
 'Saint-Denis, French Territory',
 'Salt Lake Area, Utah',
 'Salt Lake City, USA',
 'Salt Lake City, Utah',
 'Salvador, Brazil',
 'San Antonio',
 'San Antonio, Texas',
 'San Bernardino, California',
 'San Diego',
 'San Diego, CA',
 'San Diego, California',
 'San Diego, USA',
 'San Francisco',
 'San Francisco, CA',
 'San Francisco, California',
 'San Francisco, USA',
 'Santa Catarina,  Brasil',
 'Santa Cruz, CA',
 'Santiago,  Chile',
 'Santiago, Chile',
 'Santo Domingo, Distrito Nacional',
 'Sao Carlos, Brazil',
 'Seattle',
 'Seattle, USA',
 'Seattle, WA',
 'Seattle, Washington',
 'Seoul, Gyeonggi',
 'Seoul, Korea',
 'Seoul, South Korea',
 'Sergipe,  Brasil',
 'Shanghai, China',
 'Silicon Valley, CA',
 'Silicon Valley, USA',
 'Singapore',
 'Singapore, Asia',
 'Singapore, Singapore',
 'Sofia, Bulgaria',
 'Sorocaba, SP',
 'Southwest Florida, USA',
 'Spain',
 'St. Louis',
 'St. Louis, United States',
 'Stockholm, Sweden',
 'Stockholm, Uppland',
 'Sul de Minas, Brazil',
 'Switzerland',
 'Sydney, Australia',
 'São Luís, Brazil',
 'São Paulo SP, Brazil',
 'São Paulo,  Brasil',
 'Taipei, Taiwan',
 'Taiwan',
 'Tampa',
 'Tampa, Florida',
 'Tampa, USA',
 'Tanzania',
 'Tel Aviv, Israel',
 'Tel Aviv-Yafo, Israel',
 'Teresina, Brazil',
 'Texas, US',
 'Tirana, Albania',
 'Tokyo',
 'Tokyo, Japan',
 'Toronto',
 'Toronto,  Canada',
 'Toronto, Canada',
 'Tunisia',
 'Twin Cities',
 'Twin Cities, USA',
 'Uganda',
 'United Kingdom',
 'Uruguay',
 'Utah, USA',
 'Vale do Paraiba, Brazil',
 'Vancouver, Canada',
 'Vienna, Austria',
 'Warsaw, Wroclaw, Lodz',
 'Washington D.C.',
 'Washington D.C., USA',
 'Washington, D.C., US',
 'Washington, DC',
 'Washington, US',
 'Waterloo, Canada',
 'Wellington, New Zealand',
 'Wichita, USA',
 'Wilmington, Delaware',
 'Yerevan, Armenia',
 'Zaria, Kaduna',
 'Zürich, Switzerland']

In [21]:
score_sort = [(x,) + i
             for x in unique_city 
             for i in process.extract(x, unique_city, scorer=fuzz.token_sort_ratio)]
#Create a dataframe from the tuples
similarity_sort = pd.DataFrame(score_sort, columns=['city_sort','match_sort','score_sort'])

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']

                city_sort              match_sort  score_sort
0  Prague, Czech Republic  Prague, Czech Republic         100
1  Prague, Czech Republic    Brno, Czech Republic          70
2  Prague, Czech Republic     Copenhagen, Denmark          41
3  Prague, Czech Republic        Tel Aviv, Israel          39
4  Prague, Czech Republic             Chicago, IL          39

In [55]:
replacements = similarity_sort[similarity_sort['score_sort'].between(80, 99)]

In [68]:
groups = replacements.groupby(by=['match_sort'])

In [73]:
df[replacements['match_sort'] == "Atlanta, GA" ]
# new_groups = groups[groups.count()['match_sort'] > 1]

<ipython-input-73-32e3855fee3c>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[replacements['match_sort'] == "Atlanta, GA" ]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).